@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style: none;
    box-sizing: border-box;
}

.item-carousal-home {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 3px 3px 2px #a8a8a8;
    padding: 5px;
}

.item-carousal-home .company-name-carousal {
    width: 100%;
    justify-content: left;
    text-align: left;
    font-size: x-large;
    font-weight: 600;
}

.item-carousal-home .meta-desc-company-carousal {
    width: 100%;
    justify-content: left;
    text-align: justify;
    font-size: smaller;
}

.item-carousal-home .investment-required-carousal {
    width: 100%;
    justify-content: left;
    text-align: justify;
    background-color: greenyellow;
    margin: 5px;
    padding-left: 5px;
    border-radius: 5px;
}

.item-carousal-home .see-more-carousal {
    width: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: purple;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}

.header-distributors {
    /* display: flex; */
    justify-content: left;
    align-items: center;
    text-align: left;
    width: 100%;
    min-height: 100px;
    padding: 20px;
    background-color: lightsteelblue;
}

.header-distributors .heading-header-distributors {
    font-size: xx-large;
    font-weight: 600;
}


.list-distributors-main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.list-distributors-main .item {
    width: 90%;
    justify-content: left;
    align-items: center;
    display: flex;
    margin: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
}

.description {
    padding-left: 5px;
}

.distributor-image-distributors {
    width: 200px;
}

.distributor-name-distributors {
    font-size: xx-large;
    font-weight: 600;
}

.distributor-meta-desc-distributors {
    padding-left: 10px;
    font-size: small;
}

.distributor-best-products-distributors {
    display: flex;
    justify-content: left;
    align-items: center;
}


.distributor-sales-distributors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.distributor-sales-distributors .sales {

    justify-content: left;
    align-items: center;
    flex-direction: column;
}


.distributor-sales-distributors .prediction {
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

.prediction .predicted-sales {
    background-color: lightgreen;
    border-radius: 5px;
    padding: 5px;
}

.distributor-see-more-distributors {
    width: 150px;
    background-color: #a8a8a8;
    font-weight: 600;
    padding: 5px;
    margin: 10px 0 0 0;
    border-radius: 5px;
}


/* Portfolio page css */
.distributor-portfolio-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.distributor-portfolio-main .top-section {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    align-items: center;
}

.distributor-portfolio-main .top-section .left .left {
    width: 100%;
}

.distributor-portfolio-main .top-section .right {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.distributor-portfolio-main .top-section .right .distributor-name {
    font-size: xx-large;
    font-weight: 600;
    margin-bottom: 10px;
}

.distributor-portfolio-main .top-section .right .meta-description {
    color: grey;
}

.distributor-portfolio-main .top-section .right .sales {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.distributor-portfolio-main .top-section .right .sales .previous-sales {
    margin: 10px 0 10px 0;
}

.sales-badge {
    background-color: lightseagreen;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.distributor-portfolio-main .top-section .right .sales .current-holdings {
    margin: 10px 0 10px 0;
}

.distribution-products {
    width: 100%;
    padding: 20px;
}

.distribution-products .heading {
    font-size: xx-large;
    font-weight: 600;
}

.distribution-products .list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

.distribution-products .list .product-item {
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.distribution-products .list .product-item .row {
    display: flex;
    flex-direction: row;
}

.distribution-products .list .product-item .row .revenue-generated {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.distribution-products .list .product-item .row .revenue-generated .sales-badge {
    width: 75%;
    margin: auto;
}

.font-bold-and-larger {
    font-size: larger;
    font-weight: 600;
}

.invest-section-portfolio {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: lightcyan;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.invest-section-portfolio .invest-now {
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightgreen;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.main-investnow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.main-investnow .terms {
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 20px;
    padding: 10px;
    background-color: lightcyan;
    border-radius: 5px;
}

.main-investnow .terms .heading {
    font-size: x-large;
    font-weight: 600;
}

.main-investnow .equity {
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 10px;
    margin: auto;
    text-align: center;
    background-color: lightgreen;
    border-radius: 5px;
}

.main-investnow .invest-btn {
    background-color: lightslategray;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
}

.flex-grid-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-grid-row-non-center{
    display: flex;
    align-items: center;
    flex-direction: row;
}